html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buttons__wrapper {
    width: 500px;
    margin: 16px auto;
}

.d-flex {
    display: flex;
    gap: 12px;
}

.btn {
    border: 1px solid rgb(240,240,240);
    padding: 12px 15px;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.btn-small {
    padding: 6px 15px;
}
 
.bg-primary {
    background-color: #1652F0;
    border-color: #1652F0;
}

.bg-success {
    background-color: #14cf3c;
    border-color: #14cf3c;
}

.bg-warning {
    background-color: #dbac2b;
    border-color: #dbac2b;
}

.bg-danger {
    background-color: #cf1414;
    border-color: #cf1414;
}

.text-disabled {
    color: rgb(240,240,240);
}

.text-primary {
    color: #1652F0;
}

.text-success {
    color: #14cf3c;
}

.text-warning {
    color: #dbac2b;
}
.text-danger {
    color: #cf1414;
}

.btn[class*="outline"]{
    border: 1px solid;
    background: none;
}

.outline-primary {
    border-color: #1652F0;
}

.outline-success {
    border-color: #14cf3c;
}

.outline-warning {
    border-color: #dbac2b;
}

.outline-danger {
    border-color: #cf1414;
}